<div id="charBanner" class="border border-dark rounded">
  <ul class="list-inline mx-auto row justify-content-center">
    <li class="list-inline-item mt-1 ml-5 mr-5">Character Name: {{ character.characterName }}</li>
    <li class="list-inline-item ml-5 mr-5">Character Level: {{ character.characterlevel }}</li>
  </ul>
  <ul class="list-inline mx-auto col">
    <li class="list-inline-item mt-1 ml-5 mr-5">
      <input type="text" class="d-block" [(ngModel)]="inputName">
      <button class="mt-1 btn-info rounded d-block" (click)="onClickUpdateName()">Update Name</button>
    </li>
    <li class="list-inline-item mt-1 ml-5 mr-5">
      <input type="number" class="d-block" [(ngModel)]="inputLvl">
      <button class="mt-1 btn-info rounded d-block" (click)="onClickUpdateLevel()">Update Level</button>
    </li>
  </ul>
</div>
