<div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Armour</h5>
          <div class="container">
            Search: <input [(ngModel)]="searchArmour" text="text" placeholder="Armour">
          </div>
          <div class="list-group mt-2" id="myList" role="tablist">
            <app-armour *ngFor="let a of armours | armourFilterPipe: searchArmour" [openArmour]="a" (click)=displayArmour()></app-armour>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body" *ngIf="selectedArmour">
          <h5 class="card-title text-center">{{selectedArmour.armourName}}</h5>
          <form>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Armour Id:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.armourId}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Item Slot:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.armourType}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Defense Modifier:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.defenseModifier}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Stat:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.stat}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Stat Modifier:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.statModifier}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Description:</label>
              <div class="col-sm-10">
                <span>{{selectedArmour.description}}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Weapons</h5>
          <div class="container">
            Search: <input [(ngModel)]="searchWeapon" text="text" placeholder="Weapon" value="">
          </div>
          <div class="list-group mt-2 " id="myList" role="tablist">
            <app-weapon *ngFor="let w of weapons | weaponFilterPipe: searchWeapon" [openWeapon]="w" (click)="displayWeapon()"></app-weapon>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card">
        <div class="card-body" *ngIf="selectedWeapon">
          <h5 class="card-title text-center">{{selectedWeapon.weaponName}}</h5>
          <form>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Armour Id:</label>
              <div class="col-sm-10">
                <span>{{selectedWeapon.weaponId}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Weapon Type:</label>
              <div class="col-sm-10">
                <span>{{selectedWeapon.weaponType}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Attack Modifier:</label>
              <div class="col-sm-10">
                <span>{{selectedWeapon.attackModifier}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Defense Modifier:</label>
              <div class="col-sm-10">
                <span>{{selectedWeapon.defenseModifier}}</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2  col-form-label">Description:</label>
              <div class="col-sm-10">
                <span>{{selectedWeapon.description}}</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>