<style>
    ul {
        list-style-type: none;
        margin: 10;
        padding: 0;
    }
    li {
        display: inline;
        color: white;
        padding: 8px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #555;
        color: white;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/armoury">
        <h3>
         <span class="badge">{{title}}</span>
        </h3>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/armoury">Home</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn()&&!isProfilePage()" >
                <a class="nav-link" routerLink="/profile">View Profile</a>
            </li>
            <li class="nav-item" *ngIf="isProfilePage()" >
                <a class="nav-link" routerLink="/add-character">Create New Character</a>
            </li>
        </ul>
        <app-login></app-login>
    </div>
</nav>
