<div class="col-4 float-right mt-5">
    <ul class="list-group mt-4">
      <li class="list-group-item">Hit Points: <span class="float-right" [(ngModel)] = "chr.characterlevel">{{ hitPoints * chr.characterlevel }}</span></li>
      <li class="list-group-item">Strength: <span class="float-right">{{ strength }}</span></li>
      <li class="list-group-item">Dexterity: <span class="float-right">{{ dexterity }}</span></li>
      <li class="list-group-item">Intelligence: <span class="float-right">{{ intel }}</span></li>
      <li class="list-group-item">Defense: <span class="float-right">{{ defense }}</span></li>
      <li class="list-group-item">Attack: <span class="float-right">{{ attack }}</span></li>
    </ul>
</div>


