<div class="container mt-2">
  <div class="row border border-dark">
    <ul *ngIf="charMod; else mod" class="list-group">
      <li class="list-group-item">
        HP: <span class="ml-5 float-right">{{ hitpoints * character.characterlevel }} ({{(hitpoints * character.characterlevel)+charMod.hp}})</span>
      </li>
      <li class="list-group-item">
        Strength: <span class="ml-5 float-right">{{ strength * character.characterlevel }} ({{(strength * character.characterlevel)+charMod.strength}})</span>
      </li>
      <li class="list-group-item">
        Dexterity: <span class="ml-5 float-right">{{ dexterity * character.characterlevel }} ({{(dexterity * character.characterlevel)+charMod.dexterity}})</span>
      </li>
      <li class="list-group-item">
        Intelligence: <span class="ml-5 float-right">{{ intelligence * character.characterlevel }} ({{(intelligence * character.characterlevel)+charMod.intelligence}})</span>
      </li>
      <li class="list-group-item">
        Defense: <span class="ml-5 float-right">{{ defense * character.characterlevel }} ({{(defense * character.characterlevel)+charMod.defense}})</span>
      </li>
      <li class="list-group-item">
        Attack: <span class="ml-5 float-right">{{ attack * character.characterlevel }} ({{(attack * character.characterlevel)+charMod.attack}})</span>
      </li>
    </ul>
    <ng-template #mod>
      <ul class="list-group">
        <li class="list-group-item">
          HP: <span class="ml-5 float-right">{{ character.hp }}</span>
        </li>
        <li class="list-group-item">
          Strength: <span class="ml-5 float-right">{{ character.strength }}</span>
        </li>
        <li class="list-group-item">
          Dexterity: <span class="ml-5 float-right">{{ character.dexterity }}</span>
        </li>
        <li class="list-group-item">
          Intelligence: <span class="ml-5 float-right">{{ character.intelligence }}</span>
        </li>
        <li class="list-group-item">
          Defense: <span class="ml-5 float-right">{{ character.defense }}</span>
        </li>
        <li class="list-group-item">
          Attack: <span class="ml-5 float-right">{{ character.attack }}</span>
        </li>
      </ul>
    </ng-template>
    <button class="mt-1 btn-info rounded d-block" (click)="getCharMod()">Update</button>
    
  </div>
</div>
